<?xml version="1.0" encoding="utf-8"?>
{% load thumbnail %}
<rss version="2.0" xmlns:apple-wallpapers="http://www.apple.com/ilife/wallpapers">
    <channel>
        <title>{{ album.title}}</title>
        <link>{{ album.get_absolute_url }}/photocast/</link>
        <description>{{ album.description }}</description>
        <pubDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</pubDate>
        <lastBuildDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</lastBuildDate>
        <generator>xoffender xGallery (Django)</generator>
        <apple-wallpapers:feedVersion>0.9</apple-wallpapers:feedVersion>
        <guid isPermaLink="true">{{ album.get_absolute_url }}</guid>
<image>
	{% for thumb in album.get_random_thumbnail  %}
	<url>{{ settings.SITE_URL }}{{ thumb.get_image_url|thumbnail:"width=120"}}</url>
	{% endfor %}	
	<title>{{ album.title }}</title>
	<link>{{ album.get_absolute_url }}/photocast/</link>
</image>
{% for item in album.galleryitem_set.all %}
	<item>
		<url>{{ item.get_image_url }}</url>
				<title>{{ item.title }}</title>
				<link>{{ item.get_image_url }}</link>

				<description>{{ item.description }}</description>
				<pubDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</pubDate>
				<category>{{ album.title }}</category>
				<guid>{{ item.get_image_url }}</guid>
				<apple-wallpapers:photoDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</apple-wallpapers:photoDate>
		        <apple-wallpapers:cropDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</apple-wallpapers:cropDate>
		<apple-wallpapers:thumbnail>{{ item.get_image_url|thumbnail:"width=320,height=240"}}</apple-wallpapers:thumbnail>
		            <apple-wallpapers:image>{{ item.get_image_url }}</apple-wallpapers:image>
		            <apple-wallpapers:metadata>
		                <PhotoDate>{{ album.pub_date|date:"Y-m-d H:i:s +0100" }}</PhotoDate>
		                <Comments></Comments>
		            </apple-wallpapers:metadata>
	
    </item>
{% endfor %}
</channel>
