<?xml version="1.0" encoding="utf-8" standalone="yes"?>
{% load thumbnail %}
    <rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" 
        xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
      <!-- begin the item loop -->
     {% for item in album.galleryitem_set.all %}
     <item>
     <title>{{ item.title }}</title>
     <media:description>{{ item.description }}</media:description>
     <link>{{ item.get_image_url  }}</link>
     <media:thumbnail url="{{ item.get_image_url|thumbnail:"height=160"}}" />
     <media:content url="{{ item.get_image_url }}" />
     </item>
     {% endfor %}
     <!-- end the foor loop -->
 </channel>
</rss>
