{% extends "xblog/blog_base.html" %}
{% block extratitle %} gallery {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ media_url }}simpleviewer/swfobject.js"></script>
<script type="text/javascript" src="{{ media_url }}js/add-event.js"></script>
<script type="text/javascript" src="{{ media_url }}js/popup.js"></script>
<script type="text/javascript" src="http://lite.piclens.com/current/piclens.js"></script>
<link rel="alternate" href="cooliris/" type="application/rss+xml"
title="Cooliris" id="gallery" />
<style type="text/css">
  .mbf-item { display: none; }
</style>
	    	
{% endblock %}
{% block pagestyle %}gallery{% endblock %}
